.coutries-list {
    width: 50vw;
    min-width: 370px;
    padding: 1rem;
}

p {
    color: rgba(255, 255, 255, 0.745);
    margin-bottom: 8px;
}

.loading {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
