.country-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    background-color: rgba(255, 255, 255, 0.061);
    color: #fff;
    padding: 0.3rem;
    margin-bottom: 1rem;

    &__name {
        text-transform: uppercase;
        text-align: center;
    }

    &__details {
        display: flex;
        justify-content: left;
        align-items: flex-start;
        width: 100%;
        margin-top: 10px;

        &--capital,
        &--languages,
        &--population {
            display: flex;
            justify-content: center;
            width: 33%;
            gap: 5px;
        }
    }
}

.icon:hover {
    cursor: pointer;
}
